html{
    height: 100%;
}
body{
    background-image: url("../media_qpage/q_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    margin:0;
}
#contents {
    display: block;
    align-content: center;
    margin: 25% 30% 0 25%;
    width: 50%;
    text-align: center;
    height: 200px;
    top: 0;
    bottom:0;
    position:fixed;

}
.personalInfo {
    width: 30%;
    padding: 0.5em;
    border-color: saddlebrown;
    border-radius: 25px;
}

@media only screen and (max-width: 800px) {
    .personalInfo {
        width: 60%;
    }

}