
*{
    /*border:1px solid black;*/
    /*box-sizing:border-box;*/
}

html, body{
    height: 100%;
    margin: 0;
    font-family:sans-serif;
}
body{
    /*background-image:url("../Resource/bgr.jpg");*/
}


/********************************************************************************
|						    	TOP NAVIGATION BAR                              |
*********************************************************************************/
.TopNav_container{
    background-color: yellow;
    display: flex;
    align-items: center;
    height: 5%;
}
.TopNav_logo{
    margin: auto 4px auto 10px;
}
.TopNav_title{
    margin: 0 auto 0 0;
    font-weight: bold;
    /*font-size: 80%;*/
}
.TopNav_list{
    margin: 0;
    padding: 0;
    text-align: center;
}
.TopNav_list li{
    list-style-type:none;
    display:inline-block;
    padding-right:5px;
    padding-left: 7px;
    border-left: 1px solid gold;
}
.TopNav_list li a{
   text-decoration: none;
    color: black;
    display: block;
    font-weight: bold;
    /*font-size: 70%;*/
}

/********************************************************************************
|						        MAIN CONTENT                                    |
*********************************************************************************/
.Main_container{
    width: 60%;
    margin: 0 auto;
    height: 94%;
    background-color: darkgray;
    display: block;
    text-align: center;
}
.Box_Msg{
    background-color: lightblue;
    word-wrap: break-word;
    width: 60%;
    margin: 0 auto;
    padding: 20px 0;

    border-radius: 15px;
    border: 1px solid red;
}
.Box_Msg p{
    margin: 0;
    /*padding: 10px;*/
}
.imgMain{
    margin: 16px 0;
}
.Btn_Start{
    margin: 16px 0;
    cursor: pointer;
    width: 30%;
    max-width: 300px;
    padding: 10px;
}



.listCha{
    padding: 0;
}
.listCha li{
    list-style-type: none;
    border: 1px solid whitesmoke;

}
.listCha li a{
    display: block;
    text-decoration: none;
    color: red;
    font-weight: bold;
    padding: 20px;
}
.listCha li a:hover{
    background-color: whitesmoke;
}

@media only screen and (max-width: 425px){
    .Main_container{
        width: 100%;
    }

}