*{
    margin-left: 0.0em;
    margin-right: 0.0em;
    margin-top: 0.0em;
}
body, html{
    height: 100%;
    margin:0;

}
.intro{
    background-image: url("../images/index/landing_background.jpg");
    /*From Kathimerini, source: https://www.kathimerini.com.cy/gr/oikonomiki/epixeiriseis/uclan-cyprus-protoporiako-kai-kainotomo-montelo-bretanikis-ekpaideysis  */
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.intro h1{
    font-size: 75px;
    text-align: center;
    margin-top: 60px;
}

.intro button{
    padding: 35px 60px 35px 60px;
    color: ghostwhite;
    background-color: #bd2a2a;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 75px;
}

.intro button:hover{
    box-shadow: 0 0 22px 7px ;
    background-color: #000428;
}

.game button{
    padding: 35px 60px 35px 60px;
    color: ghostwhite;
    background-color: #bd2a2a;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 30px;

}

.game button:hover{
    box-shadow: 0 0 22px 7px ;
    background-color: #000428;
}


#goTopButton{
    color: white ;
    background-color:#34516C;
    width:100px;
    height:100px;
    position:fixed;
    bottom:20px;
    left:20px;
    border-radius: 50px;
    border-width: thick;
    font-weight: bold;
    font-size: large;

}

#goTopButton:hover{
    box-shadow: 0 0 22px 7px ;
    background-color: #fa6464;
    cursor: pointer;
}

.game{
    display: flex;
    flex-wrap: wrap;
    background-color: #524c3d;
}

#firstParagraph{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    color: white;
    font-family: Arial;
}
.header {
    overflow: hidden;
    justify-content: right;
}

.header li {
    list-style-type:none;
    display:inline-block;
    text-align: right;
    padding: 12px 12px;
    font-family: Arial,Helvetica,sans-serif

}

.header li a{
    color: darkred;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 1.0em;
}
.header li a:hover {
    color: #fa6464;
    font-size: 20px;
}
.header li a:active{
    color: #fa6464;
    font-size: 20px;
}

#game{
    background-image: url("../images/index/paul-green.jpg");
    /* By Paul Green source: https://unsplash.com/photos/mln2ExJIkfc */
    background-position: bottom;
    background-size: 100%;
}

.screenshots{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.0em;


}
.screenshots img{

    margin-left: auto;
    margin-right: 3em;
    width: 15%;
    border-radius: 30px;
}


#team{
    display: block;
    background-color: gray;
    height: auto;
    text-align: center;
}

#info h2{
    color: white;
    text-decoration: underline;
    margin-bottom: 0;
}

#info{
    font-family: Georgia;
    font-size: 20px;
    background-color: #918060;
    height: auto;
    text-align: center;
    background-image: url("../images/index/jud-mackrill.jpg");
    /* By Jud Mackrill source: https://unsplash.com/photos/drLKC_gGwE4 */
    background-position: top;
    background-size: 150%;
}

#info p{

    color: white;

    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;

}

#infoTitle {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;

}

#info img{
    margin-left: auto;
    margin-right: 3em;
    width: 20%;
    border-radius: 30px;
}
#socialmedia{
    background-image: url("../images/index/prateek-katya.jpg"); /*From Prateek Katyal, Source:https://unsplash.com/photos/xv7-GlvBLFw */
    background-size: 80%;
    background-position: 800px 5px;

    height: auto;
    text-align: center;
}

#instagram img{
    margin-left: auto;
    margin-right: auto;
    width: 12%;
    border-radius: 30px;
}


blockquote{
    display:block;

    position: relative;
    padding-bottom: 10px;
    font-family: Georgia;
    font-size: 20px;
    color: white;
    text-align: center;


}
blockquote::before{
    content: "\201C";


    font-size: 70px;
    font-weight: bold;
    color: white;

    position: inherit;
    left: 1px;
    top:0;
}

iframe{
    display:block;
    margin: 0 auto;
}

#team{
    background-image: url("../images/index/papaioannou.jpg"); /*From Papaioannou Kostas, Source:https://unsplash.com/photos/tysecUm5HJA */
    background-size: cover;
    background-position: center;
}

#team img{
    border-radius: 120px;
    border-width: thick;
}

#team p{
    color: white;
    font-size: 20px;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;

}
#team  address{
    color: white;
}




blockquote em{
    font-style: italic;
}

.indexTitles{
    background-color: white;
}



@media only screen and (max-width: 800px) {
    .indexTitles{
        font-size: 20px;
    }
    iframe{
        width: 450px;
    }
}
@media only screen and (max-width: 600px) {
    iframe{
        width: 300px;
    }
    #info{
        background-size: cover;
    }
    #firstParagraph h1{
        font-size: 20px;
    }
    #firstParagraph h2{
        font-size: 15px;
    }
    .intro button{
        padding: 25px 45px 25px 45px;
    }
    .game button{
        padding: 25px 50px 25px 50px;
    }
    #goTopButton{
        width:75px;
        height:75px;
        position:fixed;
        bottom:10px;
        left:10px;
        border-radius: 50px;
        font-weight: bold;
        font-size: medium;

    }
}

/*for testing part of the page:*/
#testing{
    display: block;
    background-color: gray;
    height: auto;
    text-align: center;
}

.testing button{
    padding: 25px 50px 25px 50px;
    color: ghostwhite;
    background-color: #8fcc88;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;

}

.testing button:hover{
    box-shadow: 0 0 22px 7px ;
    background-color: #000428;
}

#testing{
    background-image: url("../images/index/alexander-sinn.jpg"); /*From Alexander Sinn, Source:https://unsplash.com/photos/07bxCZgKY-k */
    background-size: cover;
    background-position: center;
}



.testing{
    display: flex;
    flex-wrap: wrap;
    background-color: #524c3d;
}

/*for meeting notes part of the page:*/
#meetingNotes{
    display: block;
    background-color: gray;
    height: auto;
    text-align: center;
}

#meetingNotes{
    background-image: url("../images/index/jeshoots.jpg"); /*From JESHOOTS, Source:https://unsplash.com/photos/pUAM5hPaCRI*/
    background-size: cover;
    background-position: center;
}



.meetingNotes{
    display: flex;
    flex-wrap: wrap;
    background-color: #524c3d;
}

.meetingNotes button{
    padding: 25px 50px 25px 50px;
    color: ghostwhite;
    background-color: #8fcc88;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;

}

.meetingNotes button:hover{
    box-shadow: 0 0 22px 7px ;
    background-color: #000428;
}






@media only screen and (max-width: 450px) {

    #info p{
        width: 80%;
    }
    #team p{
        width: 80%;
    }
    #goTopButton{
        width:60px;
        height:60px;
        position:fixed;
        bottom:10px;
        left:1px;
        border-radius: 50px;
        font-weight: bold;
        font-size: small;

    }
    .header h1{
        font-size: xxx-large;
    }
}