body{
    background-color: lightgrey;
}

.header {
    background-color: darkred;
    overflow: hidden;
}

.header li {
    list-style-type:none;
    display:inline-block;
    text-align: center;
    padding: 12px 12px;

}

.header li a{
    color: white;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 100%;
}