body{
    background-color: deepskyblue;
}

.Game{
    background-image: url("../media_landing_page/landing_background.jpg");

}
.header {
    background-color: darkred;
    overflow: hidden;
}

.header li {
    list-style-type:none;
    display:inline-block;
    text-align: center;
    padding: 12px 12px;
    font-family: Arial,Helvetica,sans-serif

}

.header li a{
    color: white;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 100%;
}

.header li img{
    display: block;
    width: 40%;
    text-align: left;
}

.firstParagraph {
    color: black;
    font-family: "Garamond", serif;
    font-size: 40px;
    text-align: center;
}

.secondParagraph {
    color: black;
    font-family: "Garamond", serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}



.screenshots{
text-align: center;
    margin-left: auto;
    margin-right: auto;


}

.screenshots img{

    margin-left: auto;
    margin-right: 3em;
    width: 20%;
    border-radius: 30px;
}
