
h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: xxx-large;
}
table {
    border: 10px groove green;
    box-shadow: 10px 10px 25px 5px snow inset;
    border-radius: 10px;
    width:60%;
    margin-bottom: 5px;
}
table span{
    margin-right: 10px;
    margin-left: 0;
    color: black;
}
th, td {
    border-bottom: 1px solid gray;
    text-align: center;

}
th{
    padding:40px;
    background-color: rgba(146,141,90,0.69);
    font-size: x-large;
    font-weight: bolder;
}
td{
    padding: 50px;
    color: #434344;
    font-size: larger;
    font-weight: bolder;
    background-color: rgba(133,133,133,0.45);
}
.leaderboard{
    display: flex;
    justify-content: center;
    margin-right:5px;
    margin-bottom:5px;
}

#gold{
    background-color: #FFD700;
    box-shadow: 5px 5px 10px 2px snow inset;
}
#gold td{
    color: whitesmoke;
}
#gold span{
    color: whitesmoke;
}
#silver{
    background-color: #7d7d7d;
    box-shadow: 5px 5px 10px 2px snow inset;
}
#silver td{
    color: whitesmoke;
}
#silver span{
    color: whitesmoke;
}

#bronze{
    background-color: #CD7F32;
    box-shadow: 5px 5px 10px 2px snow inset;
}
#bronze td{
    color:whitesmoke;
}
#bronze span{
    color: whitesmoke;
}

@media only screen and (max-width: 800px) {
    h1{
        font-size: x-large;
    }
    th{
        padding:20px;
        background-color: rgba(146,141,90,0.69);
        font-size: large;
        font-weight: bolder;
    }
    td{
        padding: 25px;
        color: #434344;
        font-size: large;
        font-weight: bolder;
        background-color: rgba(133,133,133,0.45);
    }
}
@media only screen and (max-width: 600px) {
    th{
        padding:4px 6px 4px 4px;
        background-color: rgba(146,141,90,0.69);
        font-size: medium;
        font-weight: bolder;
    }
    td{
        padding: 4px 6px 4px 4px;
        color: #434344;
        font-size: medium;
        font-weight: bolder;
        background-color: rgba(133,133,133,0.45);
    }
}
@media only screen and (max-width: 400px) {
    th,td{
         padding: 2px;
         font-size: small;
    }
    .leaderboard{
        margin-left:100px;
        margin-right:0;
    }

}
