h3,h2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: xxx-large;
    color: green;
}
#leaderboard {
    padding: 0;
    width:80%;
    margin:auto;
    max-width:500px;
    text-align:center;
    box-shadow: 10px 10px 25px 5px snow inset;
}
#leaderboard li {
    border-bottom: 1px solid whitesmoke;
    background-color: rgba(146,141,90,0.69);
    list-style-type: none;
}

#leaderboard li:first-child {
    border-top: 1px solid whitesmoke;
}

.score {
    color:whitesmoke;
    background-color: rgba(19,84,13,0.79);
    float:right;
    padding: 10px;
    border-radius: 5px;
    margin-right:40px;
    position: relative;
    bottom: 60px;
}

.player-name {
    font-weight:bold;
    font-size: large;
    padding: 40px;
    position: relative;
    top: 10px;
    color: white;
    max-width: 450px;
    word-break: break-word;
    font-family: serif;
}
#leaderboard #gold{
    box-shadow: 2px 2px 40px 2px rgba(255,250,0,0.66) inset;
}
#leaderboard #silver{
    box-shadow: 2px 2px 40px 2px rgba(125,125,125,0.66) inset;
}
#leaderboard #bronze{
    box-shadow: 2px 2px 40px 2px #CD7F32 inset;
}
.player-rank{
    margin-right: 10px;
    font-size: x-large;
    font-weight: bold;
}
#gold .score{
    background-color: rgba(255,250,0,0.66);
    font-weight: bolder;
}
#silver .score{
    background-color: rgba(125,125,125,0.66);
    font-weight: bolder;
}
#bronze .score{
    background-color: #CD7F32;
    font-weight: bolder;
}
@media only screen and (max-width: 500px) {
    h3,h2{
        font-size: large;
    }
    .player-name{
        font-size: medium;
    }
    .TopNav_list{
        font-size: 10px;
    }
    .score {
        padding: 6px;
        border-radius: 5px;
        margin-right: 5px;
        bottom: 60px;
    }
}
