
*{
    /*border:1px solid black;*/
    box-sizing:border-box;
}

html, body{
    height: 100%;
    margin: 0;
    font-family:cursive,serif;
}
body{
    background-image:url("../images/th/th-bg.png");
    /*background-color: deepskyblue;*/

    /* Full height */
    /*height: 100%;*/

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/********************************************************************************
|						    	TOP NAVIGATION BAR                              |
*********************************************************************************/
.TopNav_container{
    background-color: seagreen;
    display: flex;
    justify-content: space-between;

    /*align-items: center;*/
    /*height:7%;*/
}
.TopNav_logo{
    margin-left: 16px;
    margin-top: 4px;
}
.TopNav_title{
    /*margin: 0 auto 0 0;*/
    /*font-weight: bold;*/
    /*font-size: 80%;*/
}
.TopNav_list{
    list-style-type:none;
    padding: 0;
    margin: 16px 0;

    /*text-align: center;*/
    /*background-color: darkgoldenrod;*/

}
.TopNav_list li{
    display:inline-block;

}
.TopNav_list li a{
   text-decoration: none;
    color: gold;
    padding: 16px;
    font-weight: bold;
    font-size: 120%;
    text-shadow:2px 2px #663300;
    /* display: block;*/
    /*border-left: 1px dashed deepskyblue;*/
}
.TopNav_list li a:hover{
    background-color: steelblue;
    /*colors: steelblue,cornflowerblue*/
}
/********************************************************************************
|						          MAIN CONTENT                                  |
*********************************************************************************/
.Main_container{
    /*background-image:url("../images/th/1.jpg");*/
    /*width: 60%;*/
    /*margin: 0 auto;*/
    /*height: 100%;*/
    /*background-color: darkgray;*/
    /*display: block;*/
    /*text-align: center;*/
}
.instruction{
    margin-top: 16px;
    display: flex;
    justify-content: center;
}
.container_R{
    /*position: relative;*/
}
.items{

    /*position: absolute;*/
    /*bottom: 0;*/
}
.items p{
    display: inline;

}


.interaction{
    text-align: center;

}
#Box_Msg{
    padding: 16px;
    margin: 10px;
    font-size: 120%;
    background-color: white;
    box-shadow: 10px 10px 10px gray;
    word-wrap: break-word;
    border-radius: 16px;
    border: 1px solid red;


}
.imgPirate{

    /*margin: 16px 0;*/
}
.Btn_Start{
    /*margin: 16px 0;*/
    /*cursor: pointer;*/
    /*width: 30%;*/
    /*max-width: 300px;*/
    /*padding: 10px;*/
}



.Chall_list{
    padding: 0;
    width: 50%;
    margin: auto;
}
.Chall_list li{
    list-style-type: none;
    border: 1px solid saddlebrown;
    margin-bottom: 10px;
}
.Chall_list li a{
    text-decoration: none;
    color: red;
    display: block;
    font-size: 150%;
    font-weight: bold;
    padding: 5px 0;
    /*padding: 20px;*/
}
.Chall_list li a:hover{
    background-color: lightblue;
}


/********************************************************************************
|						          MOBILE CSS                                    |
*********************************************************************************/

@media only screen and (max-width: 425px){
    .Main_container{
        /*width: 100%;*/
    }

}