
*{
    /*border:1px solid black;*/
    box-sizing:border-box;
}

html, body{
    height: 100%;
    margin: 0;
    /*font-family:"Times New Roman", Times, serif;*/
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image:url("../images/th/th-bg.png");

    /*Center and scale the image*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/********************************************************************************
|						    	TOP NAVIGATION BAR                              |
*********************************************************************************/
.TopNav{
    background-color: seagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    /*font-size: 100%;*/
}
.TopNav_logo{
    margin-left: 16px;
    margin-top: -5px;
    /*divided by 8 from the original size*/
    max-width: 90px;
    max-height: 45px;
}
.TopNav_list{
    list-style-type:none;
    padding: 0;
    margin: 16px 0;
}
.TopNav_list li{
    display:inline-block;
}
.TopNav_list li a{
    text-decoration: none;
    color: gold;
    padding: 16px;
    font-weight: bold;
    text-shadow:2px 2px #663300;
}
.TopNav_list li a:hover{
    background-color: darkred;
}


/********************************************************************************
|						          MAIN CONTENT                                  |
*********************************************************************************/
/* Parent container */
#mainContent{

}
/* TOP - child container */
.instruction{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Box_Msg{
    padding: 12px;
    margin: 16px;
    font-size: 120%;
    background-color: white;
    box-shadow: 10px 10px gray;
    word-wrap: break-word;
    border-radius: 16px;
    border: 1px solid red;
    max-width: 50%;

}
.imgPirate{
    /*half of the original size*/
    max-width:225px;
    max-height:280px;
}

/* BOT - child container */
.interaction{

}

/* API - LIST STYLE */
.Chall_list{
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 50%;
}
.Chall_list li{
    list-style-type: none;
    border: 1px solid saddlebrown;
    margin-bottom: 9px;
}
.Chall_list li a{
    text-decoration: none;
    color: red;
    display: block;
    font-size: 150%;
    font-weight: bold;
    padding: 5px 0;
}
.Chall_list li a:hover{
    background-color: lightblue;
}

/* register.html - form style */
.registerForm{
    text-align: center;
}
#nameOfPlayer{
    font-size: 140%;
}
.Btn_Start{
    font-size: 140%;
}

/********************************************************************************
|					    	          MEDIA                                     |
*********************************************************************************/
/* If the screen size is 425px or less */
@media only screen and (max-width: 425px){

    #Box_Msg{
        max-width: 80%;
    }
    /* API - LIST STYLE */
    .Chall_list{

        min-width: 80%;
    }

}
