*{
    box-sizing:border-box;
}

html, body{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image:url("../images/th/th-bg.png");

    /*Center and scale the image*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/********************************************************************************
|						    	TOP NAVIGATION BAR                              |
*********************************************************************************/
.TopNav{
    background-color: seagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
}
.TopNav_logo{
    margin-left: 16px;
    margin-top: -5px;
    /*divided by 8 from the original size*/
    max-width: 90px;
    max-height: 45px;
}
.TopNav_list{
    list-style-type:none;
    white-space: nowrap;
    margin: 0 5px;
    padding: 0;
}
.TopNav_list li{
    display:inline;
}
.TopNav_list li a{
    text-decoration: none;
    color: gold;
    margin-right: 5px;
    padding: 10px;
    font-weight: bold;
    background-color: darkred;
}
.TopNav_list li a:hover{
    opacity: 0.5;
}

/********************************************************************************
|						          MAIN CONTENT                                  |
*********************************************************************************/
#loader{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: darkred;
    font-weight: bold;
}
/* Parent container */
#mainContent{
    display: none;
}
/* TOP - child container */
.instruction{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Box_Msg{
    padding: 12px;
    margin: 16px;
    font-size: 120%;
    background-color: white;
    box-shadow: 10px 10px gray;
    word-wrap: break-word;
    border-radius: 16px;
    border: 1px solid red;
    max-width: 50%;

}
.imgPirate{
    /*half of the original size*/
    width:225px;
    height:280px;
}

/* BOT - child container */
.interaction{
    text-align: center;
}

/* button style */
.oBtn{
    color: gold;
    margin-right: 5px;
    padding: 10px;
    font-weight: bold;
    background-color: darkred;
    cursor: pointer;
}
.oBtn:hover{
    opacity: 0.5;
}

/*---| list API style |---*/
.Chall_list{
    margin: 0 auto;
    padding: 0;
    width: 50%;
}
.Chall_list li{
    list-style-type: none;
    border: 1px solid saddlebrown;
    margin-bottom: 9px;
}
.active{
    text-decoration: none;
    display: block;
    font-size: 150%;
    font-weight: bold;
    padding: 5px 0;

    color: red;
}
.inactive{
    text-decoration: none;
    display: block;
    font-size: 150%;
    font-weight: bold;
    padding: 5px 0;

    cursor: not-allowed;
    opacity: 0.5;
    color: black;
}
.Chall_list li a:hover{
    background-color: lightblue;
}
/*---| app.html resume popup style |---*/
#popupResume{
    z-index: 1;
    display: none;
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    background-color: #9e9e9e9c;
}
.popBG{
    background-color: #c9f1fb;
    width: 64%;
    height: auto;
    margin: 120px auto 0 auto;
}
.TitleContainer{
    background-color: #386575;
    border: 1px solid white;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.title{
    padding: 16px;
    margin: 16px 0;
    color: white;
}
.noticeDes{
    width: 60%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.noticeDes p{
    margin-top: 26px;
    margin-bottom: 16px;
    word-wrap: break-word;

}
.noticeDes button{
    padding: 6px 12px;
    font-size: 150%;
}

/*---| register form style |---*/
.registerForm{
    text-align: center;
}
#nameOfPlayer{
    font-size: 140%;
    background-color: #fefefe00;
    border: none;
    border-bottom: 1px solid darkred;
}
.registerBtn{
    font-size: 140%;
    cursor: pointer;
    margin: 2px;
    padding: 2px 6px;
    border: 1px solid white;
    background-color: #386575;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    opacity: 0.8;
}

/*---| question page style |---*/
#BOOLEAN{
    display: none;
}
#BOOLEAN input{
    font-size: 170%;
}
#INTEGER{
    display: none;
}
#INTEGER input{
    font-size: 140%;
}
#NUMERIC{
    display: none;
}
#NUMERIC input{
    font-size: 140%;
}
#MCQ{
    display: none;
}
#MCQ input{
    min-width: 20%;
    font-size: 250%;
    padding-top: 8px;
    padding-bottom: 8px;
}
#TEXT{
    display: none;
}
#TEXT input{
    font-size: 140%;
}
/* QR button */
#QR-button{
    border: none;
    margin: 0;
}
.reqGeo{
    margin: 8px 0 0 0;
    color: red;
}
/* BotNav in question page */
.BotNav{
    background-color: seagreen;
    min-height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pInfo{
    background-color: #c9f1fb;
    padding: 15px 10px;
    border:1px solid red;
    opacity: 0.85;
}
.pOptions{
    white-space: nowrap;
}
.pName{
    margin-right: 10px;
    display: inline;
}
.pScore{
    display: inline;
}
.oBtn{
    display: inline;
}
#skipBtn{
    margin-left: 5px;
}
/* popup */
#popup_Msg{
    opacity: 0;
    word-break: break-word;
    max-width: 65%;
    background-color: brown;
    color: ghostwhite;
    border-radius: 3px;
    padding: 10px;
    position: fixed;
    bottom:50px;
    left:10px;
}
/* buttons style */
.buttonType{
    cursor: pointer;
    margin: 4px;
    padding: 2px 6px;
    border: 1px solid white;
    background-color: #386575;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    opacity: 0.8;
}
/* input box style */
.inputType{
    background-color: #fefefe00;
    border: none;
    border-bottom: 1px solid darkred;
}

/********************************************************************************
|					    	          MEDIA                                     |
*********************************************************************************/
@media only screen and (max-width: 768px){
    .popBG{
        width: 80%;
    }
    .Chall_list{
        min-width: 80%;
    }
}
/* If the screen size is 425px or less */
@media only screen and (max-width: 425px){

    .imgPirate{
        width: 40%;
        height: auto;
    }
    #Box_Msg{
        max-width: 80%;
        font-size: 100%;
    }
    .popBG{
        margin: 90px auto 0 auto;
    }
    .noticeDes{
        width: 90%;
    }
    .pInfo{
        padding: 6px 2px 6px 0;
    }
    .pName{
        margin-right: 0;
        display: inherit;
    }
    .pScore{
        display: inherit;
    }
    .oBtn{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    #skipBtn{
        margin-right: 0;
    }
    #popup_Msg{
        max-width: unset;
        text-align: center;
        width: 100%;
        left: 0;
        bottom: 50px;
    }
}
@media only screen and (max-width: 306px) {

    #popup_Msg{
        bottom: 68px;
    }
}
